/* stylelint-disable selector-no-vendor-prefix */
/* stylelint-disable selector-class-pattern */
/* stylelint-disable rule-empty-line-before */
@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap';
body {
  font-family: Poppins, sans-serif;
  background-color: black;
}

.header-h1 {
  color: white;
  padding: 20px;
}

.fa-trash-can {
  display: flex;
  align-items: center;
  justify-content: center;
}

.task-list__task {
  border-radius: 15px;
  border: 1px solid #b0b3b6;
  background-color: #f8f9fa;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
}
.task-list__input, .task-list__textarea {
  background-color: #e9ecef;
}
.task-list__input::-moz-placeholder, .task-list__textarea::-moz-placeholder {
  color: white;
}
.task-list__input::placeholder, .task-list__textarea::placeholder {
  color: white;
}
.task-list__input:-moz-read-only, .task-list__textarea:-moz-read-only {
  background-color: #e9ecef;
}
.task-list__input:read-only, .task-list__textarea:read-only {
  background-color: #e9ecef;
}
.task-list_icon-btn {
  color: #6c757d;
}
.task-list_icon-btn:hover {
  color: #0056b3;
}
.task-list_icon-btn .fas,
.task-list_icon-btn .far {
  font-size: 1.2em;
}

.input-group {
  max-width: 600px;
  margin: auto;
}

.btn-outline-secondary:hover {
  background-color: #f8f9fa;
}

.form-control {
  border-radius: 15px;
  border: 1px solid #ced4da;
}
.form-control:focus {
  box-shadow: none;
}